body {
    background-color: #eed5df;
    font-family: "Roboto", sans-serif;
  }
  a {
    color: #f65282;
  }
  .weather {
    background: white;
    max-width: 600px;
    margin: 40px auto;
    padding: 30px;
    box-shadow: 0 30px 40px rgba(231, 209, 227, 0.05);
    border-radius: 16px;
  }
  header {
    border-bottom: 1px solid #f9f7fe;
    padding-bottom: 0 0 30px 0;
  }
  .search-input {
    background-color: #f9f7fe;
    border: none;
    padding: 16px 20px;
    border-radius: 6px;
    width: 75%;
    font-size: 16px;
  }
  .search-submit {
    background-color: #f65282;
    border: none;
    padding: 20px 30px;
    border-radius: 6px;
    font-size: 16px;
    color: white;
    margin-left: 5px;
    
  }
  main {
    padding: 30px 0;
  }
  .city {
    margin: 0;
    font-weight: 900;
    font-size: 32px;
    line-height: 42px;
  }
  .main-div {
    justify-content: space-between;
    display: flex;
  }
  .details {
    font-size: 16px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 250px;
    line-height: 20px;
  }
  .details strong {
    color: #246ce8;
  }
  .temperature {
    display: flex;
    justify-content: space-between;
  }
  .value {
    line-height: 40px;
    font-size: 40px;
    font-weight: bold;
  }
  .icon {
    position: relative;
    width:66px;
    height:66px;
  
    
  }
  
  .unit {
    font-size: 26px;
    position: relative;
  }
  .weather-forecast {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }
  
  .weather-forecast-date {
    text-align: center;
    color: rgba(39, 33, 66, 0.4);
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
  }

  .weather-forecast-icon {
    width: 88px;
    height: 88px;
    display: block;
    margin: 0 auto;
  }
  .weather-forecast-temperatures {
    text-align: center;
    color: #f65282;
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
  
  .weather-forecast-temperature {
    padding: 0 10px;
  }
  footer {
    border-top: 1px solid #f9f7fe;
    padding: 30px 0 0 0;
    font-size: 14px;
    text-align: center;
    color: rgba(33, 30, 60, 0.4);
  }
  